Repository pooh-labs/eaterslab, pull requests merged in 2020-05, with the labels that each got.

#97 server cafeteria model
  django-server/server/.env.sample
  django-server/server/Procfile
  django-server/server/api/admin.py
  django-server/server/api/migrations/0001_initial.py
  django-server/server/api/models.py
  django-server/server/api/serializers.py
  django-server/server/api/urls.py
  django-server/server/api/views.py
  django-server/server/data-sample.json
  django-server/server/server/settings.py
Labels: django, enhancement

#99 Specification of tests in project
  README.md
  specs/testing.md
Labels: documentation

#98 Architecture fix
  specs/architecture.md
Labels: documentation

#104 Add dates to specifications
  specs/architecture.md
  specs/pitch.md
  specs/requirements.md
  specs/use-cases.md
Labels: documentation

#102 Update testing.md
  specs/testing.md
Labels: documentation

#114 Implement saving camera reads to device
  camera/rpi-files/.gitignore
  camera/rpi-files/Pipfile
  camera/rpi-files/Pipfile.lock
  camera/rpi-files/data_archiver.py
  camera/rpi-files/format-lint-test.sh
  camera/rpi-files/main.py
  camera/rpi-files/sample.env
  camera/rpi-files/setup-environment.sh
  camera/rpi-files/setup.cfg
  camera/rpi-files/test_csv_archiver.py
Labels: camera-devices

#115 Add filtering of fixed menu options in API and changed PUT to POST method in cafeteria api
  django-server/server/Pipfile
  django-server/server/api/admin.py
  django-server/server/api/migrations/0001_initial.py
  django-server/server/api/migrations/0002_fixedmenuoption_avg_review_stars.py
  django-server/server/api/models.py
  django-server/server/api/serializers.py
  django-server/server/api/urls.py
  django-server/server/api/views.py
  django-server/server/home/views.py
  django-server/server/server/settings.py
  django-server/server/server/urls.py
Labels: django

#116 Rhantolq/api
  django-server/server/api/admin.py
  django-server/server/api/migrations/0003_camera_cameraevent.py
  django-server/server/api/models.py
  django-server/server/api/serializers.py
  django-server/server/api/urls.py
  django-server/server/api/views.py
  django-server/server/home/templates/home/home.html
  django-server/server/home/views.py
  django-server/server/server/settings.py
Labels: django

#117 Add android cached repository pattern
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/labs/pooh/eaterslab/model/MenuOption.kt
  android/app/src/main/java/labs/pooh/eaterslab/repository/CafeteriasRepository.kt
  android/app/src/main/java/labs/pooh/eaterslab/repository/dao/CafeteriaDao.kt
  android/app/src/main/java/labs/pooh/eaterslab/repository/dao/DownloadableContent.kt
  android/app/src/main/java/labs/pooh/eaterslab/repository/dao/FixedMenuOptionDao.kt
  android/app/src/main/java/labs/pooh/eaterslab/repository/dao/FixedMenuOptionReviewDao.kt
  android/app/src/main/java/labs/pooh/eaterslab/repository/dao/ImageContentDao.kt
  android/app/src/main/java/labs/pooh/eaterslab/repository/dao/MenuOptionTagDao.kt
  android/app/src/main/java/labs/pooh/eaterslab/ui/activity/abstracts/AbstractNetworkCheckingActivity.kt
  android/app/src/main/java/labs/pooh/eaterslab/ui/activity/abstracts/ConnectionStatusNotifier.kt
  android/app/src/main/java/labs/pooh/eaterslab/ui/activity/abstracts/ViewModel.kt
  android/app/src/main/java/labs/pooh/eaterslab/ui/activity/loading/LoadingConnectionActivity.kt
  android/app/src/main/java/labs/pooh/eaterslab/ui/activity/map/MapSearchActivity.kt
  android/app/src/main/java/labs/pooh/eaterslab/ui/activity/map/MapVewModel.kt
  android/app/src/main/java/labs/pooh/eaterslab/ui/activity/map/MapViewModel.kt
  android/app/src/main/java/labs/pooh/eaterslab/ui/fragment/menu/MenuFragment.kt
  android/app/src/main/java/labs/pooh/eaterslab/ui/fragment/menu/MenuViewModel.kt
  android/app/src/main/java/labs/pooh/eaterslab/ui/fragment/slideshow/SlideshowViewModel.kt
  android/app/src/main/java/labs/pooh/eaterslab/util/ActivityUtils.kt
  android/app/src/main/java/labs/pooh/eaterslab/util/Drawable.kt
  android/app/src/main/res/drawable/no_food_image.xml
  android/app/src/main/res/layout/activity_loading_connection.xml
  android/app/src/main/res/layout/fragment_slideshow.xml
  android/app/src/main/res/navigation/mobile_navigation.xml
  android/app/src/main/res/values-pl/strings.xml
  android/app/src/main/res/values/strings.xml
Labels: android, enhancement

#118 create a base for presentation parts and hints for writing slides
  index.html
Labels: documentation

#121 Gh pages django
  index.html
Labels: django, documentation

#120 Android part of presentation
  .vscode/settings.json
  img/details_dark.jpg
  img/details_light.jpg
  img/eaters_icon_background.svg
  img/food_dark.jpg
  img/food_light.jpg
  img/gps_dark.jpg
  img/hello_dark.jpg
  img/hello_light.jpg
  img/map_dark.jpg
  img/map_light.jpg
  img/menu_dark.jpg
  img/menu_light.jpg
  img/settings_light.jpg
  img/stats_dark.jpg
  img/stats_light.jpg
  index.html
Labels: documentation

#122 Add Camera slides
  img/opencv_people_counter_result01.gif
  index.html
Labels: documentation

#123 Add presentation intro
  img/cafeteria.jpg
  img/system-overview.png
  index.html
Labels: documentation

#124 pres clean
  .vscode/settings.json
Labels: documentation

#129 Add camera progress info
  index.html
Labels: documentation

#127 Camera: upload events through API endpoint
  .github/workflows/camera_cq.yaml
  camera/rpi-files/api_connector.py
  camera/rpi-files/data_archiver.py
  camera/rpi-files/events.py
  camera/rpi-files/format-lint-test.sh
  camera/rpi-files/main.py
  camera/rpi-files/sample.env
  camera/rpi-files/setup-environment.sh
  camera/rpi-files/setup.cfg
  specs/api.yaml
Labels: camera-devices

#130 Add workflowfow for api on repo update
  .github/workflows/api_file_update.yaml
Labels: enhancement

#131 Update camera to use datetime everywhere
  camera/rpi-files/api_connector.py
  camera/rpi-files/data_archiver.py
  camera/rpi-files/data_batcher.py
  camera/rpi-files/main.py
  camera/rpi-files/people_counter.py
  camera/rpi-files/setup.cfg
  camera/rpi-files/test_csv_archiver.py
  camera/rpi-files/test_data_batcher.py
Labels: camera-devices

#125 Update index.html
  index.html
Labels: documentation

#142 Add admin statistics base page
  django-server/server/admin/__init__.py
  django-server/server/admin/admin.py
  django-server/server/admin/apps.py
  django-server/server/admin/migrations/__init__.py
  django-server/server/admin/models.py
  django-server/server/admin/templates/admin/app_list_override.html
  django-server/server/admin/templates/admin/index_override.html
  django-server/server/admin/templates/admin/stats.html
  django-server/server/admin/tests.py
  django-server/server/admin/views.py
  django-server/server/api/admin.py
  django-server/server/server/settings.py
  django-server/server/server/urls.py
Labels: django

#143 Admin: Add camera state field
  django-server/server/admin/admin.py
  django-server/server/admin/management/commands/update_disconnected_cameras.py
  django-server/server/api/migrations/0004_camera_states.py
  django-server/server/api/models.py
Labels: django

#145 Add base API filtering
  django-server/README.md
  django-server/server/Pipfile
  django-server/server/admin/admin.py
  django-server/server/admin/management/commands/update_disconnected_cameras.py
  django-server/server/api/migrations/0005_cafeteria_owner.py
  django-server/server/api/migrations/0006_auto_20200526_1205.py
  django-server/server/api/models.py
  django-server/server/api/serializers.py
  django-server/server/api/views.py
  django-server/server/server/settings.py
Labels: django

#150 Fix missing GROUP BY clause in getting last camera event
  django-server/server/admin/admin.py
  django-server/server/admin/management/commands/update_disconnected_cameras.py
Labels: bug, django

#152 Implement statistics page
  django-server/server/admin/static/admin/stats.js
  django-server/server/admin/templates/admin/stats.html
Labels: django

#153 Add django occupancy to cafeteria model
  django-server/server/api/migrations/0007_auto_20200527_1246.py
  django-server/server/api/models.py
  django-server/server/api/serializers.py
  django-server/server/api/views.py
Labels: django, enhancement

#155 Add cafeteria occupancy base stats API
  django-server/server/Pipfile
  django-server/server/admin/static/admin/stats.js
  django-server/server/api/models.py
  django-server/server/api/serializers.py
  django-server/server/api/urls.py
  django-server/server/api/views.py
Labels: django, enhancement

#158 Make statistics page use occupancy from API
  django-server/server/admin/static/admin/stats.js
Labels: django

#161 Implement translation support
  django-server/server/Pipfile
  django-server/server/admin/admin.py
  django-server/server/admin/templates/admin/app_list_override.html
  django-server/server/admin/templates/admin/index_override.html
  django-server/server/admin/templates/admin/stats.html
  django-server/server/admin/views.py
  django-server/server/api/apps.py
  django-server/server/api/middleware.py
  django-server/server/api/migrations/0008_translations.py
  django-server/server/api/models.py
  django-server/server/api/serializers.py
  django-server/server/api/translation.py
  django-server/server/api/urls.py
  django-server/server/api/views.py
  django-server/server/home/templates/home/home.html
  django-server/server/locale/en/LC_MESSAGES/django.mo
  django-server/server/locale/en/LC_MESSAGES/django.po
  django-server/server/locale/pl/LC_MESSAGES/django.mo
  django-server/server/locale/pl/LC_MESSAGES/django.po
  django-server/server/server/settings.py
  django-server/server/server/urls.py
Labels: django, enhancement

#164 Admin stats: show any axis only if there is a corresponding dataset
  django-server/server/admin/static/admin/stats.js
Labels: django, enhancement

#159 Fix people counting
  django-server/server/api/models.py
  django-server/server/api/views.py
Labels: bug

#167 Add CHECK constraints for camera events
  django-server/server/api/migrations/0009_camera_event_constraints.py
  django-server/server/api/models.py
  django-server/server/api/views.py
Labels: django, enhancement
