Repository pooh-labs/eaterslab, pull requests merged in 2020-06, with the labels that each got.

#169 Stats API - avarage dish review API
  django-server/server/api/models.py
  django-server/server/api/serializers.py
  django-server/server/api/views.py
Labels: django

#172 Add sample data and data generators
  django-server/README.md
  django-server/server/Pipfile
  django-server/server/admin/management/commands/generate_events.py
  django-server/server/admin/management/commands/generate_reviews.py
  django-server/server/admin/management/commands/reset_passwords.py
  django-server/server/api/models.py
  django-server/server/data-sample.json
  django-server/server/fixtures/demo-data.yaml
Labels: django, enhancement

#176 Fix time filters defaults range too wide bug
  django-server/server/api/views.py
Labels: bug, django

#171 Add camera event batching
  django-server/server/api/serializers.py
  django-server/server/api/views.py
Labels: django, enhancement

#177 Update admin stats to use newest API
  django-server/server/admin/static/admin/stats.js
  django-server/server/admin/templates/admin/stats.html
Labels: django, enhancement

#186 Add filtering of cafeterias by vegetarian tag
  django-server/server/api/views.py
Labels: django

#188 Server: Add more filtering options to cafeterias
  django-server/server/api/views.py
Labels: django

#189 Fix accept language specified also for single object
  django-server/server/api/views.py
Labels: django

#193 Add profile links and note about coding style enforcement
  specs/project-plan.md
Labels: documentation

#196 Add review_text field to reviews
  django-server/server/admin/management/commands/generate_events.py
  django-server/server/admin/management/commands/generate_reviews.py
  django-server/server/api/migrations/0010_fixedmenuoptionreview_review_text.py
  django-server/server/api/models.py
  django-server/server/api/serializers.py
Labels: django

#201 Describe cron jobs
  django-server/README.md
  specs/project-plan.md
Labels: django, documentation

#202 Live data update on client
  android/app/src/main/java/labs/pooh/eaterslab/repository/CafeteriasRepository.kt
  android/app/src/main/java/labs/pooh/eaterslab/ui/fragment/home/CafeteriaFragment.kt
  android/app/src/main/java/labs/pooh/eaterslab/ui/fragment/home/CafeteriaViewModel.kt
  android/app/src/main/java/labs/pooh/eaterslab/ui/fragment/stats/StatsFragment.kt
  android/app/src/main/java/labs/pooh/eaterslab/ui/fragment/stats/StatsViewModel.kt
  android/app/src/main/res/values-pl/strings.xml
  android/app/src/main/res/values/strings.xml
Labels: android, enhancement

#204 Admin: add checks for camera event form
  django-server/server/api/models.py
  django-server/server/locale/en/LC_MESSAGES/django.po
  django-server/server/locale/pl/LC_MESSAGES/django.mo
  django-server/server/locale/pl/LC_MESSAGES/django.po
Labels: django

#207 Admin/Camera: Add auth headers for event upload
  camera/rpi-files/api_connector.py
  camera/rpi-files/main.py
  camera/rpi-files/sample.env
  django-server/server/api/views.py
  specs/api.yaml
Labels: camera-devices, django

#205 Admin: Handle empty cafeteria lists and admin users
  django-server/server/admin/static/admin/stats.js
  django-server/server/admin/templates/admin/stats.html
  django-server/server/admin/utils.py
  django-server/server/admin/views.py
Labels: django

#209 Admin: implement user role constraints
  django-server/server/Pipfile
  django-server/server/admin/admin.py
  django-server/server/api/models.py
  django-server/server/server/settings.py
Labels: django

#208 Django: Add homepage
  django-server/server/admin/static/icon.svg
  django-server/server/home/templates/home/home.html
  django-server/server/locale/en/LC_MESSAGES/django.po
  django-server/server/locale/pl/LC_MESSAGES/django.mo
  django-server/server/locale/pl/LC_MESSAGES/django.po
Labels: django

#214 Added artifact path depends on env
  .github/workflows/android_apk_build_dev.yaml
  django-server/server/api/urls.py
  django-server/server/api/views.py
  django-server/server/home/templates/home/home.html
  django-server/server/home/urls.py
  django-server/server/home/views.py
  django-server/server/server/settings.py
Labels: django

#213 Time field made human readable
  django-server/server/api/serializers.py
Labels: django

#212 Move settings menu to left, UI fixes with font
  android/app/src/main/java/labs/pooh/eaterslab/ui/activity/main/MainActivity.kt
  android/app/src/main/res/drawable/ic_baseline_settings.xml
  android/app/src/main/res/font/alegreya_sc.ttf
  android/app/src/main/res/font/alegreya_sc_bold.ttf
  android/app/src/main/res/font/roboto.ttf
  android/app/src/main/res/font/roboto_light.ttf
  android/app/src/main/res/font/yanone_kaffeesatz.ttf
  android/app/src/main/res/layout-land/fragment_stats.xml
  android/app/src/main/res/layout/activity_hello_select.xml
  android/app/src/main/res/layout/base_cafeteria_data.xml
  android/app/src/main/res/layout/fragment_stats.xml
  android/app/src/main/res/layout/nav_header_main.xml
  android/app/src/main/res/layout/text_view_key_value.xml
  android/app/src/main/res/menu/activity_main_drawer.xml
  android/app/src/main/res/menu/main.xml
  android/app/src/main/res/navigation/mobile_navigation.xml
  android/app/src/main/res/values-pl/strings.xml
  android/app/src/main/res/values/dimens.xml
  android/app/src/main/res/values/styles.xml
Labels: android

#210 Fixing instructions for clarity.
  django-server/README.md
Labels: documentation, enhancement

#211 Camera name, camera name in admin list, translations.
  django-server/server/admin/admin.py
  django-server/server/api/migrations/0011_camera_name.py
  django-server/server/api/migrations/0012_auto_20200607_2201.py
  django-server/server/api/models.py
  django-server/server/api/serializers.py
  django-server/server/api/views.py
  django-server/server/locale/pl/LC_MESSAGES/django.po
Labels: django, enhancement

#218 Rhantolq/camera event enchancement
  django-server/server/admin/admin.py
  django-server/server/admin/views.py
  django-server/server/api/models.py
Labels: django, enhancement

#219 Cafeteria list display in admin
  django-server/server/admin/admin.py
Labels: django, enhancement

#220 Fix missed camera names
  django-server/server/fixtures/demo-data.yaml
Labels: django

#217 Fix occupancy capped
  android/app/src/main/java/labs/pooh/eaterslab/repository/dao/CafeteriaDao.kt
  android/app/src/main/java/labs/pooh/eaterslab/repository/dao/OccupancyStatsDao.kt
  android/app/src/main/java/labs/pooh/eaterslab/ui/fragment/home/CafeteriaViewModel.kt
  android/app/src/main/java/labs/pooh/eaterslab/ui/fragment/stats/StatsFragment.kt
  django-server/server/api/models.py
Labels: android, django

#221 list_display for option review
  django-server/server/admin/admin.py
Labels: django, enhancement

#222 Cron jobs doc fixed
  django-server/README.md
Labels: django, documentation

#224 FixedMenuOptionAdmin
  django-server/server/admin/admin.py
Labels: django, enhancement

#226 Rhantolq/admin enchancement
  django-server/server/admin/admin.py
  django-server/server/api/migrations/0013_auto_20200608_1622.py
  django-server/server/locale/pl/LC_MESSAGES/django.mo
  django-server/server/locale/pl/LC_MESSAGES/django.po
Labels: django, enhancement

#227 Columns ordered by specifity, second columns now clickable
  django-server/server/admin/admin.py
Labels: django, enhancement

#228 Opened naming fixes for API side
  django-server/server/admin/admin.py
  django-server/server/admin/management/commands/generate_events.py
  django-server/server/api/migrations/0013_auto_20200608_1817.py
  django-server/server/api/models.py
  django-server/server/api/serializers.py
  django-server/server/api/views.py
  django-server/server/fixtures/demo-data.yaml
  django-server/server/locale/en/LC_MESSAGES/django.po
  django-server/server/locale/pl/LC_MESSAGES/django.po
Labels: django

#229 Add migration merge
  django-server/server/api/migrations/0014_merge_20200608_1841.py
Labels: django

#231 Fix migration merge
  django-server/server/api/migrations/0013_auto_20200608_1817.py
  django-server/server/api/migrations/0014_auto_20200608_1916.py
  django-server/server/api/migrations/0014_merge_20200608_1841.py
Labels: bug, django

#235 Camera: Add first run script
  camera/rpi-files/install.sh
Labels: camera-devices

#232 Add review dialog for review
  android/app/src/main/java/labs/pooh/eaterslab/repository/dao/CafeteriaDao.kt
  android/app/src/main/java/labs/pooh/eaterslab/ui/activity/main/MainActivity.kt
  android/app/src/main/java/labs/pooh/eaterslab/ui/fragment/dialogs/ReviewDialogFragment.kt
  android/app/src/main/java/labs/pooh/eaterslab/ui/fragment/menu/MenuFragment.kt
  android/app/src/main/java/labs/pooh/eaterslab/ui/fragment/menu/MenuViewModel.kt
  android/app/src/main/res/layout/dialog_review.xml
  android/app/src/main/res/layout/map_item_view.xml
  android/app/src/main/res/layout/searched_cafeteria_view.xml
  android/app/src/main/res/values-pl/strings.xml
  android/app/src/main/res/values/dimens.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/xml/root_preferences.xml
Labels: android, enhancement

#234 Fix stats to weightened average
  django-server/server/api/views.py
Labels: bug, django

#239 Add website link to apk
  README.md
  django-server/server/home/templates/home/home.html
Labels: django, documentation

#240 Update README with screenshots
  README.md
  readme-images/.gitignore
  readme-images/admin-cafeterias.png
  readme-images/admin-camera-events.png
  readme-images/admin-cameras.png
  readme-images/admin-home.png
  readme-images/admin-menus.png
  readme-images/admin-reviews.png
  readme-images/admin-statistics.png
  readme-images/android-cafeteria.png
  readme-images/android-home.png
  readme-images/android-list.png
  readme-images/android-map.png
  readme-images/android-menu.png
  readme-images/android-review.png
  readme-images/android-settings.png
  readme-images/android-stats.png
  readme-images/api-docs.png
  readme-images/generate-thumbnails.sh
  readme-images/home.png
  readme-images/thumbs/admin-cafeterias.png
  readme-images/thumbs/admin-camera-events.png
  readme-images/thumbs/admin-cameras.png
  readme-images/thumbs/admin-home.png
  readme-images/thumbs/admin-menus.png
  readme-images/thumbs/admin-reviews.png
  readme-images/thumbs/admin-statistics.png
  readme-images/thumbs/android-cafeteria.png
  readme-images/thumbs/android-home.png
  readme-images/thumbs/android-list.png
  readme-images/thumbs/android-map.png
  readme-images/thumbs/android-menu.png
  readme-images/thumbs/android-review.png
  readme-images/thumbs/android-settings.png
  readme-images/thumbs/android-stats.png
  readme-images/thumbs/api-docs.png
  readme-images/thumbs/home.png
Labels: enhancement
